@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #092d82;
  --primary-light: #1d4ed8;
  --card: #ffffff;
  --border: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

/* PREMIUM SECTION BACKGROUND */
.section-bg {
  background: #f8fafc;
}

/* WHITE CARD */
.card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 24px;
  box-shadow:
    0 4px 12px rgba(9, 45, 130, 0.04),
    0 12px 32px rgba(9, 45, 130, 0.06);
}
:root {
  --brand: #093080;
}
/* PREMIUM GLASS */
.glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(9, 45, 130, 0.08);
}

/* BRAND TEXT */
.gradient-text {
  color: #092d82;
  font-weight: 700;
}

/* PRIMARY BUTTON */
.glow-button {
  background: #092d82;
  color: white;

  box-shadow:
    0 8px 20px rgba(9, 45, 130, 0.15),
    0 12px 40px rgba(9, 45, 130, 0.1);

  transition: all 0.3s ease;
}

.glow-button:hover {
  background: #0b379c;
  transform: translateY(-2px);
}

/* SUBTLE GRID */
.bg-grid {
  background-image:
    linear-gradient(
      rgba(9, 45, 130, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(9, 45, 130, 0.03) 1px,
      transparent 1px
    );

  background-size: 40px 40px;
}

/* FLOATING EFFECT */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

/* FADE IN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.7s ease forwards;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #092d82;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b379c;
}

/* TEXT SELECTION */
::selection {
  background: rgba(9, 45, 130, 0.2);
  color: #092d82;
}

/* INPUTS */
input,
textarea,
select {
  border: 1px solid #dbe3f0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #092d82;
  box-shadow: 0 0 0 3px rgba(9, 45, 130, 0.1);
}

.forgot-password {
  background: none;
  border: none;
  color: #02A3F0;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.forgot-password:hover {
  text-decoration: underline;
}